<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Explorer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Explorer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <Explorer.My.MySettings>
            <setting name="KnownFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.cfg</string>
                        <string>.doc</string>
                        <string>.docx</string>
                        <string>.3ds</string>
                        <string>.msh</string>
                        <string>.obj</string>
                        <string>.stl</string>
                        <string>.ocx</string>
                        <string>.dll</string>
                        <string>.exe</string>
                        <string>.msi</string>
                        <string>.vbs</string>
                        <string>.hta</string>
                        <string>.html</string>
                        <string>.skp</string>
                        <string>.avd</string>
                        <string>.avi</string>
                        <string>.mp4</string>
                        <string>.mp3</string>
                        <string>.mov</string>
                        <string>.vob</string>
                        <string>.vb</string>
                        <string>.sln</string>
                        <string>.cs</string>
                        <string>.htm</string>
                        <string>.vbproj</string>
                        <string>.csproj</string>
                        <string>.xml</string>
                        <string>.gif</string>
                        <string>.png</string>
                        <string>.jpg</string>
                        <string>.jpeg</string>
                        <string>.bmp</string>
                        <string>.ico</string>
                        <string>.tiff</string>
                        <string>.pdf</string>
                        <string>.xlsx</string>
                        <string>.pptx</string>
                        <string>.rtf</string>
                        <string>.txt</string>
                        <string>.raw</string>
                        <string>.lnk</string>
                        <string>.rar</string>
                        <string>.zip</string>
                        <string>.iso</string>
                        <string>.dae</string>
                        <string>.reg</string>
                        <string>.ini</string>
                        <string>.vm</string>
                        <string>.vhd</string>
                        <string>.midi</string>
                        <string>.wav</string>
                        <string>.bat</string>
                        <string>.cpl</string>
                        <string>.dds</string>
                        <string>.tex</string>
                        <string>.ttf</string>
                        <string>.log</string>
                        <string>.scr</string>
                        <string>.psd</string>
                        <string>.xcf</string>
                        <string>.js</string>
                        <string>.partial</string>
                        <string>.torrent</string>
                        <string>.mid</string>
                        <string>.ocx</string>
                        <string>.resx</string>
                        <string>.inf</string>
                        <string>.application</string>
                        <string>.vdi</string>
                        <string>.thmx</string>
                        <string>.url</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FormatDescriptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Configuration File</string>
                        <string>Word Document</string>
                        <string>Word Document</string>
                        <string>3D Object</string>
                        <string>Mesh File</string>
                        <string>3D Object</string>
                        <string>3D Object</string>
                        <string>Application Extension</string>
                        <string>Application Extension</string>
                        <string>Executable File</string>
                        <string>Microsoft Installer Package</string>
                        <string>VBScript File</string>
                        <string>HTML Application</string>
                        <string>HTML Document</string>
                        <string>Sketchup Object</string>
                        <string>AVWord Document</string>
                        <string>Audio Visual FIle</string>
                        <string>Video FIle</string>
                        <string>Audio FIle</string>
                        <string>VIdeo File</string>
                        <string>VLC Video FIle</string>
                        <string>Visual Basic Source</string>
                        <string>Visual Studio Solution</string>
                        <string>C# Source</string>
                        <string>HTML Document</string>
                        <string>Visual Basic Project</string>
                        <string>C# Project</string>
                        <string>XML Document</string>
                        <string>Animated GIF</string>
                        <string>Portable Network Graphic</string>
                        <string>JPG Image</string>
                        <string>JPEG Image</string>
                        <string>Bitmap Image</string>
                        <string>Icon</string>
                        <string>TIFF Image</string>
                        <string>PDF Document</string>
                        <string>Excel Document</string>
                        <string>PowerPoint Presentation</string>
                        <string>Rich Text Document</string>
                        <string>Text Document</string>
                        <string>Raw Image</string>
                        <string>Shortcut</string>
                        <string>Winrar Archive</string>
                        <string>Compressed Archive</string>
                        <string>Virtual Disk Image</string>
                        <string>Collalda FIle</string>
                        <string>Registry Entries</string>
                        <string>Configuration Setting</string>
                        <string>Virtual Machine</string>
                        <string>Virtual Hard DIsk</string>
                        <string>Audio</string>
                        <string>Batch File</string>
                        <string>Control Panel Item</string>
                        <string>DirectDraw Surface File</string>
                        <string>Texture File</string>
                        <string>TrueType Font</string>
                        <string>Text Document</string>
                        <string>Screen Saver</string>
                        <string>Photoshop Document</string>
                        <string>GIMP Image</string>
                        <string>JavaScript File</string>
                        <string>Incomplete Download</string>
                        <string>Torrent URL</string>
                        <string>MIDI Sequence</string>
                        <string>ActiveX Extension</string>
                        <string>.NET Managed Resource FIle</string>
                        <string>Setup Infoemation</string>
                        <string>Application Manifest</string>
                        <string>Virtual Disc Image</string>
                        <string>Microsoft Office Theme</string>
                        <string>Internet Shortcut</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Explorer.My.MySettings>
    </applicationSettings>
    <userSettings>
        <Explorer.My.MySettings>
            <setting name="IsBgImageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="View" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FocusPercentage" serializeAs="String">
                <value>0</value>
            </setting>
        </Explorer.My.MySettings>
    </userSettings>
</configuration>
